*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
   
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
   
}
header{
    background-color: rgb(74, 17, 17);
}
.logo-items{
    display: flex;
    flex-direction: row;
   align-items: center;
   
}
#logo{
    font-size: 1.6rem;
    color: white;
    
}
.logo-font{
    font-size: 1.2rem;
    font-family: "Kanit", sans-serif;
    color: white;
}
.icon-container{
    display:none;
}
#menu{
    color: white;
    display: flex;
    font-size: 1.6rem;
}
.list{
    display: none;
}




/* section1 style */

 #mainfont{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
 }
#btn1{
    padding: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color:   rgb(74, 17, 17);
    border: none;
    color: white;
    border-radius: 5px;
    width: 7rem;
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
}#btn1:hover{
    background-color:  rgb(102, 26, 26);
}
.s1{
    display: flex;
    justify-content:flex-start;
    padding: 1rem;
    background-image: url(./Picsart_24-03-14_22-19-01-590.jpg);
    background-size: cover;
    height: 200px;




}
.container1{

   width: 600px;
   height: 170px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 2rem;

   
}


#mainfont{
    color: rgb(255, 255, 255);
   text-shadow: darkgreen;
  
}










@media only screen and (min-width: 634px){

header{
    background-color: rgb(101, 49, 113);
}
.icon-container{
    display: flex;
    flex-direction: row;
   align-items: center;
   gap: 1rem;
   color: white;
}
#menu{
    display: none;
}
.s1{
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 #mainfont{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
 }
 .container1{

    width: 630px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;

    
 }
 #btn1{
    padding: 0.5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    background-color: rgb(101, 49, 113);
    border: none;
    color: white;
    border-radius: 5px;
    width: 7rem;
    

}

}

@media only screen and (min-width: 1200px){
    header{
        background-color: rgb(87, 142, 185);
    }
    .icon-container{
        display:none
    }
    .list{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
 ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style-type: none;
 }
 ul li a{
    text-decoration: none;
    color: white;
 }
 .s1{
    background-size: cover;
    height: 460px;
 background-image: url(./Picsart_24-03-14_22-19-01-590.jpg);
 }
 #minfont{ font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 6rem;

 }
 .container1{

    width: 1500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
 
    
 }
 #mainfont{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3rem;
 }
}



.s2{
    background-color: rgb(77, 22, 22);
    height: 120px;
}
article{
    border: 6px solid rgb(255, 255, 255);
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.article-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#a1{
    background-image: url('./a1.jpeg');
    background-size: cover;
}
#a2{
    background-image: url('./a2.jpeg');
    background-size: cover;
}
#a3{
    background-image: url('./a3.jpeg');
    background-size: cover;
}
#a4{
    background-image: url('./a4.jpeg');
    background-size: cover;
}
.s3{
    background-color: rgb(56, 147, 170);
}
.container3{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    color: white;
}
.container3,p{
    font-family: 'poppins',sans-serif;
}
.s4{
    background-color:rgb(77, 22, 22) ;
    height: 9rem;
}
#icon{
    font-size: 4rem;
    margin-top: 2rem;
    color: white;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
   gap: 2rem;
   
}#icon:hover{
    color: rgb(128, 255, 255);
}
article:hover{
    opacity: 0.7;
}


body{
    background-color: rgb(0, 0, 0);
}
.container11{
    border: 2px solid black;
    height: 1232px;
}
.form,.resume{
height: 623px;
max-width: 100%;


}
#btngrp{
    padding: 1rem;
}
#btn11,#btn22{
    padding: 0.3rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
}
.form{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    background-image: url('./Picsart_24-03-29_21-30-27-470.jpg');
    background-size: cover;
}
td{
    text-align: left;
}
h1{
    color: rgb(200, 214, 237);
    margin-bottom: 1rem;
}
label{
    font-family: 'poppins',sans-serif;
    color: white;
}
table{
    border-spacing: 15px;
}
input[type="text"],input[type="number"],input[type="email"]{
    height: 1.7rem;
    background-color: rgb(70, 70, 70);
    border: none;
    outline: none;
    color: white;
}
textarea{
    background-color: rgb(70, 70, 70);
    border: none;
    outline: none;
    color: white;
}
#date{
    background-color: rgb(70, 70, 70);
    border: none;
    outline: none;
    color: white;

}
#btn11{
    background-color: darkcyan;
    color: white;
    border: none;
}
#btn22{
    background-color: crimson;
    color: white;
}
.resume{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
}